/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #2b2b2b;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

header {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 8px;
}


header h1 {
    font-size: 3em;
    text-align: left;
}


